-extends "base.haml"

-block content
  %h1 Réponse de <a href="{% url 'professor_student_detail_view' student.pk %}">{{ student }}</a> au test <a href="{% url 'professor_test_detail' student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
  %hr

  -if student_test.started_at
    %table.table.table-bordered
      %thead
        %th
          Exercice
        %th
          Réponse de l'élève
        %th
          Réponse attendu
      %tbody
        -for i in student_test.answer_set.all
          %tr{class: "{% if i.correct %}success{% elif i.correct == False %}warning{% endif %}"}
            %td
              -if not i.automatic
                =i.test_exercice.exercice.file_name|default:"[pas d'exercice]"
                sur la compétence
                =i.test_exercice.skill
              -else
                Inféré depuis les autres réponses sur la compétence
                =i.test_exercice.skill
            %td{colspan: 2}
              %table
                %tr
                  %td{colspan: 2}
                    -if i.test_exercice.exercice.content
                      %i= i.test_exercice.exercice.content|safe
                %tr
                  %td{width: "50%"}
                    -for question, answer in i.get_answers.items
                      %b= question|safe
                      %ul
                        %li= answer.answer


                  %td{width: "50%"}
                    -for label, question in i.test_exercice.exercice.get_questions.items
                        %b= label|safe
                        -if question.type == "text"
                          %input.form-control{id: "{{ forloop.counter0 }}", name: "{{ forloop.counter0 }}", type: "text"}
                        -elif question.type == "radio"
                          -with name=forloop.counter0
                            -for option, valid in question.answers.items
                              -if valid
                                %ul
                                  %li= option
                        -elif question.type == "checkbox"
                          -with name=forloop.counter0
                            -for option in question.answers
                              .radio
                                %label
                                  %input{type: "checkbox", value: "{{ forloop.counter0 }}", name: "{{ name }}"}
                                  =option
                        -else
                          =question.type

  -else
    %p L'élève n'a pas encore commencé le test.
