-extends "base.haml"

-block content
  %ol.breadcrumb
    -with lesson=student.lesson_set.first
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li= lesson.stage.name
      %li
        %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
          Classe
          =lesson.name
    %li
      %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}
        Élève
        =student.user.first_name
        =student.user.last_name
    %li.active
      Test
      =student_test.test.name

  %h2 Réponse de <a href="{% url 'professor:lesson_student_detail' lesson.pk student.pk %}">{{ student }}</a> au test <a href="{% url 'professor:lesson_test_online_detail' lesson.pk student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:lesson_test_online_detail' lesson.pk student_test.test.pk %}"}
        Test
      %a.btn.btn-primary{href: "{% url 'professor:lesson_student_detail' lesson.pk student_test.student.pk %}"}
        Élève
  %hr

  -if student_test.started_at
    -if not student_test.fully_testable_online
      %h3 Réponse des questions en ligne
    %table.table.table-bordered
      %colgroup
        %col{width: "20%"}
        %col
        %col
      %thead
        %th
          Compétence / question
        %th
          Réponse de l'élève
        %th
          Réponse attendue
      %tbody
        -for i in student_test.answer_set.all
          %tr
            %td{class: "{% if i.correct %}success{% elif i.correct == False %}warning{% endif %}"}
              %p
                %b Compétence :
                %a{href: "{% url 'professor:lesson_skill_detail' lesson.pk i.test_exercice.skill %}"}
                  =i.test_exercice.skill
                %br
                -if i.test_exercice.exercice.id
                  %a{href: "{% url 'professor:exercice_detail' i.test_exercice.exercice.id %}"}
                    %b Question n°
                      =i.test_exercice.exercice.id
                -else
                  Pas de questions disponible
            %td{colspan: 2}
              -if not i.test_exercice.exercice and not i.automatic
                %i pas de questions disponible
              -elif not i.automatic
                %table.full-width
                  %tr
                    %td{colspan: 2}
                      -if i.test_exercice.exercice.content
                        %i= i.test_exercice.exercice.content|safe
                  -for question, answer in i.get_answers.items
                    %tr
                      %td{colspan: 2}
                        .answers-panel.panel{class: "{% if answer.is_correct %}panel-success{% else %}panel-warning{% endif %}"}
                          .panel-heading
                            =question|safe
                          .panel-body.answers-panel
                            %table.answers-table
                              -if answer.type == "checkbox"
                                %tr
                                  %td.right-border{width: "50%"}
                                    %ul
                                      -for j in answer.answer
                                        %li= j
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct
                                        %li= j
                              -elif answer.type == "text"
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct
                                        %li= j
                              -else
                                -# radio
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    =answer.correct
              -else
                %i Déduit depuis les autres réponses


  -else
    %p L'élève n'a pas encore commencé le test en ligne.

  -if not student_test.test.fully_testable_online
    %h3 Réponse des questions hors ligne
      %a.print-questions.btn.btn-sm.btn-primary{href: "#"}
        imprimer les questions
      %a.btn.btn-sm.btn-success{href: "{% url 'professor:lesson_test_online_insert_results' lesson.pk student_test.test.pk %}"}
        entrer les résultats
    -if student_test.has_offline_answers
      %table.table.table-bordered
        %colgroup
          %col{width: "20%"}
          %col
          %col
        %thead
          %th
            Compétence / question
          %th
            Énoncé
        %tbody
          -for test_exercice, answer in student_test.test_exercice_answer_for_offline_test
            %tr
              %td{class: "{% if answer.correct %}success{% elif answer.correct == False %}warning{% endif %}"}
                %p
                  %b Compétence :
                  %a{href: "{% url 'professor:lesson_skill_detail' lesson.pk test_exercice.skill %}"}
                    =test_exercice.skill
                  %br
                  -if test_exercice.exercice.id
                    %a{href: "{% url 'professor:exercice_detail' test_exercice.exercice.id %}"}
                      %b Question n°
                        =test_exercice.exercice.id
                  -else
                    Pas de questions disponible
                  %br
                  %b Réponse :
                  -if answer and answer.correct
                    correcte
                  -elif answer and not answer.correct
                    incorrecte
                  -elif answer == None
                    pas encore encodée
              %td
                %table.full-width
                  %tr
                    %td{colspan: 2}
                      -if test_exercice.exercice.content
                        %i= test_exercice.exercice.content|safe

    -else
      %p Vous n'avez pas encore rentré les réponses pour cet élève pour les questions hors ligne.
      %p
        %a.print-questions.btn.btn-sm.btn-primary{href: "#"}
          imprimer les questions
        %a.btn.btn-sm.btn-success{href: "{% url 'professor:lesson_test_online_insert_results' lesson.pk student_test.test.pk %}"}
          entrer les résultats
