-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    -with lesson=student.lesson_set.first
      %li
        %a{href: "{% url 'professor:dashboard' %}"} Oscar
      %li
        %a{href: "{% url 'professor:lesson_detail' lesson.id %}"}
          Classe
          =lesson.name
    %li
      %a{href: "{% url 'professor:lesson_student_detail' lesson.pk student.pk %}"}
        Élève
        =student.user.first_name
        =student.user.last_name
    %li.active
      Test
      =student_test.test.name

-block content
  %h3 Réponse de <a href="{% url 'professor:lesson_student_detail' lesson.pk student.pk %}">{{ student }}</a> au test <a href="{% url 'professor:lesson_test_online_detail' lesson.pk student_test.test.pk %}">{{ student_test.test }}</a> de type <i>{{ student_test.test.display_test_type }}</i>
  %hr

  .ligneorange

  .container-fluid.boxclassetitle
    .pull-right
      %a.btn.btn-primary{href: "{% url 'professor:lesson_test_online_detail' lesson.pk student_test.test.pk %}"}
        Test
      %a.btn.btn-primary{href: "{% url 'professor:lesson_student_detail' lesson.pk student_test.student.pk %}"}
        Élève

  .ligneorangefine

  .boxclasse.container-fluid
    -if student_test.started_at
      -if not student_test.fully_testable_online
        %h5 Questions en ligne à corriger
        %table.table.table-bordered
          %colgroup
            %col{width: "20%"}
            %col
            %col
          %thead
            %th
              Compétence / question
            %th
              Réponse de l'élève
          %tbody
            -for answer in student_test.answer_set.all
              -if answer.contains_professor
                -with answers=answer.get_answers context_questions=answer.test_exercice.exercice
                  %tr
                    %td{class: "{% if answer.evaluate == 1 %}success{% elif answer.evaluate == -1 %}warning{% elif answer.evaluate == 0 %}danger{% endif %}"}
                      %p
                        %b Compétence :
                        %a{href: "{% url 'professor:lesson_skill_detail' lesson.pk answer.test_exercice.skill %}"}
                          =answer.test_exercice.skill
                        %br
                        -if answer.test_exercice.exercice.id
                          %a{href: "{% url 'professor:exercice_detail' answer.test_exercice.exercice.id %}"}
                            %b Question n°
                            =context_questions.id
                        -else
                          Pas de question disponible
                    %td{colspan: 2}
                      -if not context_questions and not answer.automatic
                        %i Pas de question disponible
                      -elif not answer.automatic
                        %table.full-width
                          %tr
                            %td.exercice-content{colspan: 2}
                              -if context_questions.context
                                =context_questions.context|safe
                          -for index, question, type, student_answer, correct in answer.get_questions_with_answers
                            -if type == "professor"
                              %tr
                                %td{colspan: 2}
                                  .answers-panel.panel{class: "{% if correct == 1 %}panel-success{% elif correct == 0 %}panel-danger{% else %}panel-warning{% endif %}"}
                                    .panel-heading
                                      =question.description|safe
                                    .panel-body.answers-panel
                                      -# The student_answer is an array, even if it contains one answer
                                      %table.answers-table
                                        %tr
                                          %td.right-border{width: "100%"}
                                            -for j in student_answer
                                              = j
                                        -# TODO: Link between the buttons and the Question.assess function
                                        %tr
                                          %td
                                            .center
                                              .btn-group-horizontal{data-toggle: "buttons"}
                                                -if correct == 1
                                                  %label.btn.btn-default.good.active
                                                    %input{type: "radio", name: "{{ student.id }}_{{ student_test.id }}_{{ question.id }}_{{ subanswer.id }}", value: "good_{{ student.id }}_{{ skill.id }}", autocomplete: "off", checked: "checked"}
                                                    Correct
                                                -else
                                                  %label.btn.btn-default.good
                                                    %input{type: "radio", name: "{{ student.id }}_{{ student_test.id }}_{{ question.id }}_{{ subanswer.id }}", value: "good_{{ student.id }}_{{ skill.id }}", autocomplete: "off"}
                                                    Correct

                                                -if correct == 0
                                                  %label.btn.btn-default.bad.active
                                                    %input{type: "radio", name: "{{ student.id }}_{{ student_test.id }}_{{ question.id }}_{{ subanswer.id }}", value: "bad_{{ student.id }}_{{ skill.id }}", autocomplete: "off", checked: "checked"}
                                                    Incorrect
                                                -else
                                                  %label.btn.btn-default.bad
                                                    %input{type: "radio", name: "{{ student.id }}_{{ student_test.id }}_{{ question.id }}_{{ subanswer.id }}", value: "bad_{{ student.id }}_{{ skill.id }}", autocomplete: "off"}
                                                    Incorrect
                                  -if question.source
                                    Informations pour les professeurs:
                                    %i {{ question.source }}
                      -else
                        %i Déduit depuis les autres réponses

        %h5 Réponses des questions en ligne
        %table.table.table-bordered
          %colgroup
            %col{width: "20%"}
            %col
            %col
          %thead
            %th
              Compétence / question
            %th
              Réponse de l'élève
            %th
              Réponse attendue
          %tbody
            -for answer in student_test.answer_set.all
              -with answers=answer.get_answers context_questions=answer.test_exercice.exercice
                %tr
                  %td{class: "{% if answer.evaluate == 1 %}success{% elif answer.evaluate == -1 %}warning{% elif answer.evaluate == 0 %}danger{% endif %}"}
                    %p
                      %b Compétence :
                      %a{href: "{% url 'professor:lesson_skill_detail' lesson.pk answer.test_exercice.skill %}"}
                        =answer.test_exercice.skill
                      %br
                      -if answer.test_exercice.exercice.id
                        %a{href: "{% url 'professor:exercice_detail' answer.test_exercice.exercice.id %}"}
                          %b Question n°
                          =context_questions.id
                      -else
                        Pas de question disponible
                  %td{colspan: 2}
                    -if not context_questions and not answer.automatic
                      %i Pas de question disponible
                    -elif not answer.automatic
                      %table.full-width
                        %tr
                          %td.exercice-content{colspan: 2}
                            -if context_questions.context
                              =context_questions.context|safe
                        -for index, question, type, student_answer, correct in answer.get_questions_with_answers
                          %tr
                            %td{colspan: 2}
                              .answers-panel.panel{class: "{% if correct == 1 %}panel-success{% elif correct == 0 %}panel-danger{% else %}panel-warning{% endif %}"}
                                .panel-heading
                                  =question.description|safe
                                .panel-body.answers-panel
                                  -# The student_answer is an array, even if it contains one answer
                                  %table.answers-table
                                    -if type == "checkbox"
                                      %tr
                                        %td.right-border{width: "50%"}
                                          %ul
                                            -for j in student_answer
                                              %li= j
                                        %td{width: "50%"}
                                          %ul
                                            -for j in question.get_answers
                                              %li= j
                                    -elif type == "text"
                                      %tr
                                        %td.right-border{width: "50%"}
                                          -for j in student_answer
                                            = j
                                        %td{width: "50%"}
                                          %ul
                                            -for j in question.get_answers
                                              %li= j
                                    -elif type == "math" or type == "math-simple" or type == "math-advanced"
                                      %tr
                                        %td.right-border{width: "50%"}
                                          -for j in student_answer
                                            \\(
                                            =j
                                            \\)
                                            %br
                                            (code latex : <code>{{ j }}</code>)
                                        %td{width: "50%"}
                                          %ul
                                            -for j in question.get_answers
                                              %li
                                                \\(
                                                =j
                                                \\)
                                                %br
                                                (code latex : <code>{{ j }}</code>)
                                    -elif type == "radio"
                                      %tr
                                        %td.right-border{width: "50%"}
                                          -for j in student_answer
                                            %li= j
                                        %td{width: "50%"}
                                          =question.get_answers
                                    -elif type == "professor"
                                      %tr
                                        %td.right-border{width: "100%"}
                                          -for j in student_answer
                                            = j
                                    -else
                                      -for i in student_answer
                                        -for a in student_answer
                                          %tr
                                            %td
                                              X:
                                              =a.answer.X
                                              %br
                                              Y:
                                              =a.answer.Y
                                            %td
                                              X:
                                              =a.correct_answer.X
                                              %br
                                              Y:
                                              =a.correct_answer.Y
                              -if question.source
                                Informations pour les professeurs:
                                %i {{ question.source }}
                    -else
                      %i Déduit depuis les autres réponses

    -else
      %p L'élève n'a pas encore commencé le test en ligne.

    -if not student_test.test.fully_testable_online
      %h5 Réponse des questions hors ligne
        %a.print-questions.btn.btn-sm.btn-primary{href: "#"}
          imprimer les questions
        %a.btn.btn-sm.btn-success{href: "{% url 'professor:lesson_test_online_insert_results' lesson.pk student_test.test.pk %}"}
          entrer les résultats
      -if student_test.has_offline_answers
        %table.table.table-bordered
          %colgroup
            %col{width: "20%"}
            %col
            %col
          %thead
            %th
              Compétence / question
            %th
              Énoncé
          %tbody
            -for test_exercice, answer in student_test.test_exercice_answer_for_offline_test
              %tr
                %td{class: "{% if answer.correct %}success{% elif answer.correct == False %}warning{% endif %}"}
                  %p
                    %b Compétence :
                    %a{href: "{% url 'professor:lesson_skill_detail' lesson.pk test_exercice.skill %}"}
                      =test_exercice.skill
                    %br
                    -if test_exercice.exercice.id
                      %a{href: "{% url 'professor:exercice_detail' test_exercice.exercice.id %}"}
                        %b Question n°
                          =test_exercice.exercice.id
                    -else
                      Pas de question disponible
                    %br
                    %b Réponse :
                    -if answer and answer.correct
                      correcte
                    -elif answer and not answer.correct
                      incorrecte
                    -elif answer == None
                      pas encore encodée
                %td
                  %table.full-width
                    %tr
                      %td.exercice-content{colspan: 2}
                        -if test_exercice.exercice.content
                          %i= test_exercice.exercice.content|safe

      -else
        %p Vous n'avez pas encore rentré les réponses pour cet élève pour les questions hors ligne.

-block javascript
  %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}

  :javascript
    $(function() {
      var color_good = function() {
        var btn = $(this)
        btn.addClass("btn-success");

        var td = btn.parent().parent().parent();
        td.addClass("success");
        td.removeClass("warning");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      var color_bad = function() {
        var btn = $(this)
        btn.addClass("btn-warning");

        var td = btn.parent().parent().parent();
        td.addClass("warning");
        td.removeClass("success");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");
      }

      var color_unknown = function() {
        var btn = $(this)

        var td = btn.parent().parent().parent();
        td.removeClass("success");
        td.removeClass("warning");

        var good_btn = btn.parent().find(".good");
        good_btn.removeClass("btn-success");

        var bad_btn = btn.parent().find(".bad");
        bad_btn.removeClass("btn-warning");
      }

      $(".good").click(color_good);
      $(".bad").click(color_bad);
      $(".unknown").click(color_unknown);

      $(".good.active").each(color_good);
      $(".bad.active").each(color_bad);
      $(".unknow.active").each(color_unknow);
    })
