-extends "base.haml"
-load static
-load bootstrap3

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétence
      =object.code

  %h2 Compétence
    =object.code
    %small= object.name
  %hr

  .well
    %h3 Synthèse <span style="color: #F58025">O</span>scar

    %form#synthese-form{method: "POST", style: "{% if not synthese_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "synthese_form", name: "form_type"}

      .form-group{class: "{% if synthese_form.synthese.errors %}has-error{% elif synthese_form.data and synthese_form.synthese %}has-success{% endif %}"}
        %label.control-label{for: "id_synthese"}
          Synthèse :
        %textarea#id_synthese.form-control{placeholder: "Synthèse", name: "synthese", rows: "10"}= object.oscar_synthese|default:""

        -for error in synthese_form.synthese.errors
          %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Sauver"}

    %div{style: "{% if synthese_form.errors %}display: none{% endif %}"}
      .synthese
        =object.oscar_synthese|default:""|safe

      %button.show-synthese-form.btn.btn-primary{data-target: "#synthese-form"}
        Modifier

  .well
    %img{src: "{% static 'img/khanacademy-logo.png' %}", width: "143px"}

    %ul
      -for video in object.khanacademyvideoskill_set.all
        %li
          %a{href: "{{ video.url }}"}
            =video.url

    %form#khan-form{method: "POST", style: "{% if not khanacademy_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "khanacademy_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .form-group
        %select.form-control{name: "ref_pk"}
          -regroup khanacademy_references by subject as subjects
          -for subject in subjects
            %optgroup.level2{label: "{{ subject.grouper }}"}
              -regroup subject.list by topic as topics
              -for topic in topics
                %optgroup.level3{label: "{{ topic.grouper }}"}
                  -for khan in topic.list
                    %option{value: "{{ khan.id }}"}= khan.title

          -for error in khanacademy_skill_form.ref_pk.errors
            %span.help-block= error

        %span.help-block= khanacademy_skill_form.errors

      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#khan-form", style: "{% if khanacademy_skill_form.errors %}display: none{% endif %}"}
      Ajouter une vidéo

  .well
    %img{src: "{% static 'img/sesamath-logo.png' %}", width: "143px", style: "padding-bottom: 15px;"}

    %ul
      -for sesamath in object.sesamathskill_set.all
        %li
          %a{href: "{{ sesamath.reference.on_oscar }}", target: "_blank"}
            =sesamath.reference.title

    %form#sesamath-form{method: "POST", style: "{% if not sesamath_reference_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "sesamath_reference", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .form-group
        %ul.dropdown-menu{role: "menu", aria-labelledby: "dropdownMenu", style: "display: block; position: static; margin-bottom: 5px; width: 180px;"}
          -regroup sesamath_references by classe as classes
          -for classe in classes
            %li.dropdown-submenu
              %a{tabindex: "-1", href: "#"}= classe.grouper
              %ul.dropdown-menu
                -regroup classe.list by ressource_kind as ressource_kinds
                -for ressource_kind in ressource_kinds
                  %li.dropdown-submenu
                    %a{href: "#"}= ressource_kind.grouper
                    %ul.dropdown-menu
                      -regroup ressource_kind.list by chapitre as chapitres
                      -for chapitre in chapitres
                        %li.dropdown-submenu
                          %a{href: "#"}= chapitre.grouper
                          %ul.dropdown-menu
                            -for ref in chapitre.list
                              %li
                                %a{href: "javascript:selectionSesamathReference({{ ref.id }}, \"{{ ref.title }}\")"}
                                  -if ref.year
                                    =ref.year
                                    \-
                                  -if ref.section_kind and ref.section_kind != "-"
                                    [{{ ref.section_kind.strip }}]
                                  =ref.title

          -for error in sesamath_reference_form.ref_pk.errors
            %span.help-block= error

        %span.help-block= sesamath_reference_form.errors

      .form-group
        .input-group
          .input-group-addon Ressource sélectionnée :
          %input#ref_pk_title.form-control{type: "text", value: "", name: "ref_pk_title", disabled: None}

      %input#ref_pk.form-control{type: "text", value: "", name: "ref_pk", style: "display: none"}

      .form-group
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#sesamath-form", style: "{% if sesamath_reference_form.errors %}display: none{% endif %}"}
      Ajouter une ressource

  .well
    %h3 Vidéos

    %ul
      -for video in object.videoskill_set.all
        %li
          %a{href: "{{ video.url }}"}
            =video.title
          \-
          =video.duration
          \-
          difficulté:
          =video.difficulty

    %form#video-form{method: "POST", style: "{% if not video_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "video_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if video_skill_form.title.errors %}has-error{% elif video_skill_form.data and video_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ video_skill_form.title.value|default:"" }}'}
            -for error in video_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          %div{class: "form-group {% if video_skill_form.url.errors %}has-error{% elif video_skill_form.data and video_skill_form.url %}has-success{% endif %}"}
            %label.control-label{for: "id_url"}
              Page de la vidéo
            %input#id_url.form-control{type: "text", required: "", placeholder: "Page de la vidéo", name: "url", value: '{{ video_skill_form.url.value|default:"" }}'}
            -for error in video_skill_form.url.errors
              %span.help-block= error

      .row
        .col-md-6
          .form-group{class: "{% if video_skill_form.duration.errors %}has-error{% elif video_skill_form.data and video_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ video_skill_form.duration.value|default:"" }}'}
            -for error in video_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          .form-group{class: "{% if video_skill_form.difficulty.errors %}has-error{% elif video_skill_form.data and video_skill_form.difficulty %}has-success{% endif %}"}
            %label.control-label{for: "id_difficulty"}
              Difficulté

            %br

            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="1" {% if video_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="2" {% if video_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="3" {% if video_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

            -for error in video_skill_form.difficulty.errors
              %span.help-block= error


      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#video-form", style: "{% if video_skill_form.errors %}display: none{% endif %}"}
      Ajouter une vidéo

  .well
    %h3 Exercices

    %ul
      -for exercice in object.exerciceskill_set.all
        %li
          %a{href: "{{ MEDIA_URL }}{{ exercice.questions }}"}
            =exercice.title
          \-
          =exercice.duration
          \-
          difficulté:
          =exercice.difficulty
          -if exercice.answers
            \-
            %a{href: "{{ MEDIA_URL }}{{ exercice.answers }}"}
              réponses

    %form#exercice-form{method: "POST", style: "{% if not exercice_skill_form.errors %}display: none{% endif %}", enctype: "multipart/form-data"}
      -csrf_token

      %input{type: "hidden", value: "exercice_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if exercice_skill_form.title.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ exercice_skill_form.title.value|default:"" }}'}
            -for error in exercice_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          -bootstrap_field exercice_skill_form.questions

      .row
        .col-md-6
          .form-group{class: "{% if exercice_skill_form.duration.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ exercice_skill_form.duration.value|default:"" }}'}
            -for error in exercice_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          -bootstrap_field exercice_skill_form.answers

      .form-group{class: "{% if exercice_skill_form.difficulty.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.difficulty %}has-success{% endif %}"}
        %label.control-label{for: "id_difficulty"}
          Difficulté

        %br

        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="1" {% if exercice_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="2" {% if exercice_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="3" {% if exercice_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

        -for error in exercice_skill_form.difficulty.errors
          %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#exercice-form", style: "{% if exercice_skill_form.errors %}display: none{% endif %}"}
      Ajouter un exercice

  .well
    %h3 Liens externes

    %ul
      -for external_link in object.externallinkskill_set.all
        %li
          %a{href: "{{ external_link.url }}"}
            =external_link.title
          \-
          =external_link.duration
          \-
          difficulté:
          =external_link.difficulty

    %form#external-link-form{method: "POST", style: "{% if not external_link_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "external_link_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if external_link_skill_form.title.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ external_link_skill_form.title.value|default:"" }}'}
            -for error in external_link_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          %div{class: "form-group {% if external_link_skill_form.url.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.url %}has-success{% endif %}"}
            %label.control-label{for: "id_url"}
              Adresse
            %input#id_url.form-control{type: "text", required: "", placeholder: "Adresse", name: "url", value: '{{ external_link_skill_form.url.value|default:"" }}'}
            -for error in external_link_skill_form.url.errors
              %span.help-block= error

      .row
        .col-md-6
          .form-group{class: "{% if external_link_skill_form.duration.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée estimée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ external_link_skill_form.duration.value|default:"" }}'}
            -for error in external_link_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          .form-group{class: "{% if external_link_skill_form.difficulty.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.difficulty %}has-success{% endif %}"}
            %label.control-label{for: "id_difficulty"}
              Difficulté

            %br

            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="1" {% if external_link_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="2" {% if external_link_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="3" {% if external_link_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

            -for error in external_link_skill_form.difficulty.errors
              %span.help-block= error


      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#external-link-form", style: "{% if external_link_skill_form.errors %}display: none{% endif %}"}
      Ajouter un lien externe

  :css
    .level2 {
      padding-left: 10px;
    }

    .level3 {
      padding-left: 20px;
    }

    .level4 {
      padding-left: 30px;
    }

    .dropdown-menu {
      float: none;
    }
    .dropdown-submenu {
        position:relative;
    }
    .dropdown-submenu>.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display:block;
    }
    .dropdown-submenu>a:after {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color:#ffffff;
    }
    .dropdown-submenu.pull-left {
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 0 6px 6px;
        -moz-border-radius:6px 0 6px 6px;
        border-radius:6px 0 6px 6px;
    }

-block javascript
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    function selectionSesamathReference(ref_pk, title) {
      $("#ref_pk_title").val(title);
      $("#ref_pk").val(ref_pk);
    }
