-extends "base.haml"
-load static
-load bootstrap3
-load crispy_forms_tags

-block content
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li.active
      Compétence
      =object.code

  %h2 Compétence
    =object.name
    %small= object.code
  %hr

  .well
    %h3 Ressources personnels
      %button.show-form.btn.btn-sm.btn-primary{data-target: "#personal-resource-form"}
        Ajouter

    %ul.list-group
      -for resource in object.resource_set.all
        %li.list-group-item
          %h4.list-group-item-heading= resource.title
            -if resource.author
              par
              %i
                =resource.author
            %small= resource.kind
          %p.list-group-text
            -if resource.text
              =resource.text

          .row
            -if resource.files.exists
              %div{class: "col-md-{% if resource.links.exists and resource.files.exists %}6{% else %}12{% endif %}"}
                .panel.panel-default
                  .panel-heading
                    Fichiers

                  .list-group
                    -for file in resource.files.all
                      %a.list-group-item{href: "{{ MEDIA_URL }}{{ file.file }}"}
                        %span.badge= file.kind
                        =file.title|default:file.file.name

            -if resource.links.exists
              %div{class: "col-md-{% if resource.links.exists and resource.files.exists %}6{% else %}12{% endif %}"}
                .panel.panel-default
                  .panel-heading
                    Liens

                  .list-group
                    -for link in resource.links.all
                      %a.list-group-item{href: "{{ link.link }}", target: "_blank"}
                        %span.badge= link.kind
                        =link.title|default:link.link


    %form#personal-resource-form{method: "POST", enctype: "multipart/form-data", style: "display: none"}
      -csrf_token

      -if resource_form.errors
        =resource_form.errors

      %input{type: "hidden", value: "personal_resource", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}
      .row
        .col-md-4
          =resource_form.title|as_crispy_field
        .col-md-4
          =resource_form.kind|as_crispy_field
        .col-md-4
          =resource_form.author|as_crispy_field

      %div{ng-app: "oscar", ng-controller: "linksAndFilesController"}
        %br
        %p
          %b Liens

        %ul.list-group{ng-if: "links.length"}
          %li.list-group-item{ng-repeat: "link in links"}
            .row
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_link"}
                    Adresse*
                  %input#id_link.form-control{type: "text", required: "", placeholder: "https://...", name: "link_link_{& link &}", value: ""}
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_kind"}
                    Type*
                  %input#id_kind.form-control{type: "text", required: "", placeholder: "Type", name: "link_kind_{& link &}", value: ""}
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_title"}
                    Titre (optionnel)
                  %input#id_title.form-control{type: "text", placeholder: "Titre", name: "link_title_{& link &}", value: ""}

            %button.btn.btn-danger.btn-sm.remove{type: "button", ng-click: "remove(\"links\", link)"}
              %span.glyphicon.glyphicon-remove

        %div
          %button.btn.btn-success{type: "button", ng-click: "addMore(\"links\", 1)"}
            %span.glyphicon.glyphicon-plus
            Ajouter un lien


        %br

        %p
          %b Fichiers

        %ul.list-group{ng-if: "files.length"}
          %li.list-group-item{ng-repeat: "file in files"}
            .row
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_file"}
                    Fichier*
                  %input#id_file{type: "file", required: "", placeholder: "", name: "file_file_{& file &}", value: "", multiple: "multiple"}
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_kind"}
                    Type*
                  %input#id_kind.form-control{type: "text", required: "", placeholder: "Type", name: "file_kind_{& file &}", value: ""}
              .col-md-4
                .form-group
                  %label.control-label.prenom{for: "id_title"}
                    Titre (optionnel)
                  %input#id_title.form-control{type: "text", placeholder: "Titre", name: "file_title_{& file &}", value: ""}

            %button.btn.btn-danger.btn-sm.remove{type: "button", ng-click: "remove(\"files\", file)"}
              %span.glyphicon.glyphicon-remove

        %div
          %button.btn.btn-success{type: "button", ng-click: "addMore(\"files\", 1)"}
            %span.glyphicon.glyphicon-plus
            Ajouter un fichier

      %br

      =resource_form.text|as_crispy_field

      %button.btn.btn-primary{type: "submit"}
        Ajouter

  .row
    .col-md-6
      .well
        %img{src: "{% static 'img/khanacademy-logo.png' %}", width: "143px"}
        %button.show-form.btn.btn-primary.btn-sm{data-target: "#khan-form", style: "{% if khanacademy_skill_form.errors %}display: none{% endif %}"}
          Ajouter une vidéo

        %a.btn.btn-xs.btn-info{href: "https://fr.khanacademy.org/math", target: "_blank"}
          aller sur la section math

        %ul
          -for video in object.khanacademyvideoskill_set.all
            %li
              %a{href: "{{ video.url }}", target: "_blank"}
                =video.reference.title|default:video.url

              -if video.added_by == request.user
                \-
                %form.remove-form{method: "POST", action: "{% url 'professor:skill_remove_pedagogical_ressources' 'khanacademy' video.id %}"}
                  -csrf_token
                  %button.btn.btn-danger.btn-xs.delete{type: "submit"}
                    supprimer

        %form#khan-form{method: "POST", style: "{% if not khanacademy_skill_form.errors %}display: none{% endif %}"}
          -csrf_token

          %input{type: "hidden", value: "khanacademy_skill", name: "form_type"}
          %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

          .form-group
            -bootstrap_form khanacademy_skill_form

          %input#khan_ref_pk.form-control{type: "text", value: "", name: "ref_pk", style: "display: none"}

          %p
            %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    .col-md-6
      .well
        %img{src: "{% static 'img/sesamath-logo.png' %}", width: "143px", style: "padding-bottom: 15px;"}
        %button.show-form.btn.btn-primary.btn-sm{data-target: "#sesamath-form", style: "{% if sesamath_reference_form.errors %}display: none{% endif %}"}
          Ajouter une ressource

        %a.btn.btn-xs.btn-info{href: "http://manuel.sesamath.net/index.php?page=telechargement", target: "_blank"}
          aller sur la section manuels et cahiers

        %ul
          -for sesamath in object.sesamathskill_set.all
            %li
              %a{href: "{{ sesamath.reference.on_oscar }}", target: "_blank"}
                =sesamath.reference.title

              -if sesamath.added_by == request.user
                \-
                %form.remove-form{method: "POST", action: "{% url 'professor:skill_remove_pedagogical_ressources' 'sesamath' sesamath.id %}"}
                  -csrf_token
                  %button.btn.btn-danger.btn-xs.delete{type: "submit"}
                    supprimer

        %form#sesamath-form{method: "POST", style: "{% if not sesamath_reference_form.errors %}display: none{% endif %}"}
          -csrf_token

          %input{type: "hidden", value: "sesamath_reference", name: "form_type"}
          %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

          .form-group
            %ul.dropdown-menu{role: "menu", aria-labelledby: "dropdownMenu", style: "display: block; position: static; margin-bottom: 5px; max-width: 33%;"}
              -regroup sesamath_references by classe as classes
              -for classe in classes
                %li.dropdown-submenu
                  %a{tabindex: "-1", href: "#"}= classe.grouper
                  %ul.dropdown-menu
                    -regroup classe.list by ressource_kind_with_year as ressource_kinds
                    -for ressource_kind in ressource_kinds
                      %li.dropdown-submenu
                        %a{href: "#"}= ressource_kind.grouper
                        %ul.dropdown-menu
                          -regroup ressource_kind.list by chapitre as chapitres
                          -for chapitre in chapitres
                                -for ref in chapitre.list
                                  %li
                                    %a{href: "javascript:selectionSesamathReference({{ ref.id }}, \"{{ ref.title }}\", \"{{ ref.on_oscar }}\")"}
                                      -if chapitre.grouper
                                        =chapitre.grouper
                                        \-
                                      -if ref.section_kind and ref.section_kind != "-"
                                        [{{ ref.section_kind.strip }}]
                                      =ref.title

              -for error in sesamath_reference_form.ref_pk.errors
                %span.help-block= error

            %span.help-block= sesamath_reference_form.errors

          .form-group
            .input-group
              .input-group-addon Ressource sélectionnée :
              %input#ref_pk_title.form-control{type: "text", value: "", name: "ref_pk_title", disabled: None}

          %input#ref_pk.form-control{type: "text", value: "", name: "ref_pk", style: "display: none"}

          #sesamath_pdf.panel.panel-default{style: "display: none"}
            .panel-heading
              Aperçu
            .panel-body
              %object{data: "", type: "application/pdf", width: "100%", height: "600px"}
                %iframe{src: "", style: "border: none;", width: "100%", height: "600px"}
                  Votre navigateur ne permet pas de voir des fichiers PDFs, 
                  %a{href: "/pdf/sample-3pp.pdf"}
                    télécharger le PDF pour le voir
                .


          .form-group
            %input.btn.btn-primary{type: "submit", value: "Ajouter"}

  .well
    %h3 Synthèse <span style="color: #F58025">O</span>scar
      %button.show-synthese-form.btn.btn-primary.btn-sm{data-target: "#synthese-form"}
        Modifier


    %form#synthese-form{method: "POST", style: "{% if not synthese_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "synthese_form", name: "form_type"}

      .form-group{class: "{% if synthese_form.synthese.errors %}has-error{% elif synthese_form.data and synthese_form.synthese %}has-success{% endif %}"}
        %label.control-label{for: "id_synthese"}
          Synthèse :
        %textarea#id_synthese.form-control{placeholder: "Synthèse", name: "synthese", rows: "10"}= object.oscar_synthese|default:""

        -for error in synthese_form.synthese.errors
          %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Sauver"}

    %div{style: "{% if synthese_form.errors %}display: none{% endif %}"}
      .synthese
        =object.oscar_synthese|default:""|safe

  .well
    %h3 Exercices

  .well
    %h3 Autres


  :css
    .level2 {
      padding-left: 10px;
    }

    .level3 {
      padding-left: 20px;
    }

    .level4 {
      padding-left: 30px;
    }

    .dropdown-menu {
      float: none;
      max-width: 100%;
      width: 5000px;
    }
    .dropdown-submenu {
        position:relative;
    }
    .dropdown-submenu>.dropdown-menu {
        top:0;
        left:100%;
        margin-top:-6px;
        margin-left:-1px;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }
    .dropdown-submenu:hover>.dropdown-menu {
        display:block;
    }
    .dropdown-submenu>a:after {
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
    }
    .dropdown-submenu:hover>a:after {
        border-left-color:#ffffff;
    }
    .dropdown-submenu.pull-left {
        float:none;
    }
    .dropdown-submenu.pull-left>.dropdown-menu {
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 0 6px 6px;
        -moz-border-radius:6px 0 6px 6px;
        border-radius:6px 0 6px 6px;
    }
    .dropdown-menu > li > a {
      white-space: normal;
    }

    .remove-form {
      display: inline;
    }

    h3 {
      margin-top: 0px;
    }

    .remove {
      position: absolute;
      top: 0px;
      right: 0px;
      border-radius: 0px;
      border-bottom-left-radius: 3px;
      padding: 2px 6px;
    }


-block javascript
  %script{src: "{% static 'js/professor_update_pedagogical_resources.js' %}"}
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    function selectionSesamathReference(ref_pk, title, url) {
      $("#ref_pk_title").val(title);
      $("#ref_pk").val(ref_pk);
      $("#sesamath_verify").removeClass("disabled");
      $("#sesamath_verify").attr("href", url);

      var sesamath_pdf = $("#sesamath_pdf");
      sesamath_pdf.find("object").attr("data", url);
      sesamath_pdf.find("iframe").attr("src", url);
      sesamath_pdf.find("a").attr("href", url);
      sesamath_pdf.show();
    }
    function selectKhanReference(ref_pk, title, url) {
      $("#khan_ref_pk_title").val(title);
      $("#khan_ref_pk").val(ref_pk);
      $("#khan_verify").removeClass("disabled");
      $("#khan_verify").attr("href", url);
    }
    $(".delete").click(function(event) {
      var yes = confirm("Êtes-vous sûr de vouloir supprimer cette ressource ?");
      if (yes != true) {
        event.preventDefault();
      }
    })
