-extends "base.haml"

-block breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "{% url 'professor:dashboard' %}"} Oscar
    %li
      %a{href: "{% url 'professor:exercice_list' %}"} Oscar
        Questions
    %li
      Tester la question n°
      =exercice.id

-block content
  .panel.panel-default
    .panel-heading
      Question n° {{ test_exercice.exercice.id }} sur
      =exercice.skill.code

    .panel-body
      -with content=exercice.get_content questions=exercice.get_questions
        -include "examinations/exercice_rendering.haml"

  -if request.method == "POST"
    %div{class: "panel {% if checked_answers.is_valid %}panel-success{% else %}panel-danger{% endif %}"}
      .panel-heading
        Réponse
        -if checked_answers.is_valid
          correcte !
        -else
          non correcte

      .panel-body
        %table.table.table-bordered
          %colgroup
            %col{width: "50%"}
            %col{width: "50%"}
          %thead
            %th
              Réponse
            %th
              Réponse attendue
          %tbody
            %tr
              %td{colspan: 2}
                %table.full-width
                  %tr
                    %td{colspan: 2}
                      -if exercice.content
                        %i= exercice.content|safe
                  -for answer in checked_answers.answers
                    %tr
                      %td{colspan: 2}
                        .answers-panel.panel{class: "{% if answer.correct %}panel-success{% else %}panel-warning{% endif %}"}
                          .panel-heading
                            =answer.question|safe
                          .panel-body.answers-panel
                            %table.answers-table
                              -if answer.type == "checkbox"
                                %tr
                                  %td.right-border{width: "50%"}
                                    %ul
                                      -for j in answer.answer
                                        %li= j
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct_answers
                                        %li= j
                              -elif answer.type == "text"
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct_answers
                                        %li= j
                              -elif answer.type == "math" or answer.type == "math-simple" or answer.type == "math-advanced"
                                %tr
                                  %td.right-border{width: "50%"}
                                    \\(
                                    =answer.answer
                                    \\)

                                    (code latex : <code>{{ answer.answer }})
                                  %td{width: "50%"}
                                    %ul
                                      -for j in answer.correct_answers
                                        %li
                                          \\(
                                          =j
                                          \\)

                                          (code latex : <code>{{ j }})
                              -elif answer.type == "radio"
                                %tr
                                  %td.right-border{width: "50%"}
                                    =answer.answer
                                  %td{width: "50%"}
                                    =answer.correct
                              -elif answer.type == "graph"
                                -for subanswer in answer.answers
                                  %tr
                                    -if subanswer.type == "point"
                                      %td.right-border{width: "50%"}
                                        X:
                                         =subanswer.answer.X
                                        %br
                                        Y:
                                         =subanswer.answer.Y
                                      %td{width: "50%"}
                                        X:
                                         =subanswer.correct_answer.X
                                        %br
                                        Y:
                                         =subanswer.correct_answer.Y
                              -else
                                %tr
                                  Unsupported answer type:
                                    %i= answer.type

-block javascript
  :javascript
    $(function() {
      console.log("renderMathquil");
      renderMathquil($(".mathquill"), function(MQ, index, mq) {
          var input = $($(mq).parent().find("input")[0]);

          var mathquill = MQ.MathField(mq, {
                handlers: {
                    edit: function() {
                        input.val(mathquill.latex());
                        console.log(input.val());
                    }
                }
            });

          var keyboard = $($(mq).parent().children()[0]);

          return [mathquill, keyboard]
      });

      {% for _, question in exercice.get_questions.items %}
      {% if question.type == "graph" %}
      var graph = new Graph('graph-' + {{ forloop.counter0 }})

      {% for answer in question.answers %}
      // assuming points for now
      graph.addAvailableGraphentry("{{ answer.graph.type }}")
      {% endfor %}

      {% endif %}
      {% endfor %}
    });
