-extends "base.haml"
-load bootstrap3

-block content
  %h2 Compétence
    =object.code
    %small= object.name
  %hr

  .well
    %h3 Synthèse <span style="color: #F58025">O</span>scar

    %form#synthese-form{method: "POST", style: "{% if not synthese_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "synthese_form", name: "form_type"}

      .form-group{class: "{% if synthese_form.synthese.errors %}has-error{% elif synthese_form.data and synthese_form.synthese %}has-success{% endif %}"}
        %label.control-label{for: "id_synthese"}
          Synthèse :
        %textarea#id_synthese.form-control{placeholder: "Synthèse", name: "synthese", rows: "10"}= object.oscar_synthese|default:""

        -for error in synthese_form.synthese.errors
          %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Sauver"}

    %div{style: "{% if synthese_form.errors %}display: none{% endif %}"}
      .synthese
        =object.oscar_synthese|default:""|safe

      %button.show-synthese-form.btn.btn-primary{data-target: "#synthese-form"}
        Modifier

  .well
    %h3 KhanAcademy

    %ul
      -for video in object.khanacademyvideoskill_set.all
        %li
          %a{href: "{{ video.url }}"}
            =video.url

    %form#video-form{method: "POST", style: "{% if not khanacademy_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "khanacademy_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if khanacademy_skill_form.url.errors %}has-error{% elif khanacademy_skill_form.data and khanacademy_skill_form.url %}has-success{% endif %}"}
            %label.control-label{for: "id_url"}
              URL chez KhanAcademy
            %input#id_url.form-control{type: "text", required: "", placeholder: "Titre", name: "url", value: '{{ khanacademy_skill_form.url.value|default:"" }}'}
            -for error in khanacademy_skill_form.url.errors
              %span.help-block= error

        .col-md-6
          %div{class: "form-group {% if khanacademy_skill_form.youtube_id.errors %}has-error{% elif khanacademy_skill_form.data and khanacademy_skill_form.youtube_id %}has-success{% endif %}"}
            %label.control-label{for: "id_youtube_id"}
              <b>id</b> de la vidéo youtube
            %input#id_youtube_id.form-control{type: "text", required: "", placeholder: "Page de la vidéo", name: "youtube_id", value: '{{ khanacademy_skill_form.youtube_id.value|default:"" }}'}
            -for error in khanacademy_skill_form.youtube_id.errors
              %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#video-form", style: "{% if video_skill_form.errors %}display: none{% endif %}"}
      Ajouter une vidéo

  .well
    %h3 Vidéos

    %ul
      -for video in object.videoskill_set.all
        %li
          %a{href: "{{ video.url }}"}
            =video.title
          \-
          =video.duration
          \-
          difficulté:
          =video.difficulty

    %form#video-form{method: "POST", style: "{% if not video_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "video_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if video_skill_form.title.errors %}has-error{% elif video_skill_form.data and video_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ video_skill_form.title.value|default:"" }}'}
            -for error in video_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          %div{class: "form-group {% if video_skill_form.url.errors %}has-error{% elif video_skill_form.data and video_skill_form.url %}has-success{% endif %}"}
            %label.control-label{for: "id_url"}
              Page de la vidéo
            %input#id_url.form-control{type: "text", required: "", placeholder: "Page de la vidéo", name: "url", value: '{{ video_skill_form.url.value|default:"" }}'}
            -for error in video_skill_form.url.errors
              %span.help-block= error

      .row
        .col-md-6
          .form-group{class: "{% if video_skill_form.duration.errors %}has-error{% elif video_skill_form.data and video_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ video_skill_form.duration.value|default:"" }}'}
            -for error in video_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          .form-group{class: "{% if video_skill_form.difficulty.errors %}has-error{% elif video_skill_form.data and video_skill_form.difficulty %}has-success{% endif %}"}
            %label.control-label{for: "id_difficulty"}
              Difficulté

            %br

            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="1" {% if video_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="2" {% if video_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="3" {% if video_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

            -for error in video_skill_form.difficulty.errors
              %span.help-block= error


      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#video-form", style: "{% if video_skill_form.errors %}display: none{% endif %}"}
      Ajouter une vidéo

  .well
    %h3 Exercices

    %ul
      -for exercice in object.exerciceskill_set.all
        %li
          %a{href: "{{ MEDIA_URL }}{{ exercice.questions }}"}
            =exercice.title
          \-
          =exercice.duration
          \-
          difficulté:
          =exercice.difficulty
          -if exercice.answers
            \-
            %a{href: "{{ MEDIA_URL }}{{ exercice.answers }}"}
              réponses

    %form#exercice-form{method: "POST", style: "{% if not exercice_skill_form.errors %}display: none{% endif %}", enctype: "multipart/form-data"}
      -csrf_token

      %input{type: "hidden", value: "exercice_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if exercice_skill_form.title.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ exercice_skill_form.title.value|default:"" }}'}
            -for error in exercice_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          -bootstrap_field exercice_skill_form.questions

      .row
        .col-md-6
          .form-group{class: "{% if exercice_skill_form.duration.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ exercice_skill_form.duration.value|default:"" }}'}
            -for error in exercice_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          -bootstrap_field exercice_skill_form.answers

      .form-group{class: "{% if exercice_skill_form.difficulty.errors %}has-error{% elif exercice_skill_form.data and exercice_skill_form.difficulty %}has-success{% endif %}"}
        %label.control-label{for: "id_difficulty"}
          Difficulté

        %br

        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="1" {% if exercice_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="2" {% if exercice_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
        %label.radio-inline
          <input type="radio" required="required" name="difficulty" value="3" {% if exercice_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

        -for error in exercice_skill_form.difficulty.errors
          %span.help-block= error

      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#exercice-form", style: "{% if exercice_skill_form.errors %}display: none{% endif %}"}
      Ajouter un exercice

  .well
    %h3 Liens externes

    %ul
      -for external_link in object.externallinkskill_set.all
        %li
          %a{href: "{{ external_link.url }}"}
            =external_link.title
          \-
          =external_link.duration
          \-
          difficulté:
          =external_link.difficulty

    %form#external-link-form{method: "POST", style: "{% if not external_link_skill_form.errors %}display: none{% endif %}"}
      -csrf_token

      %input{type: "hidden", value: "external_link_skill", name: "form_type"}
      %input{type: "hidden", value: "{{ object.pk }}", name: "skill"}

      .row
        .col-md-6
          .form-group{class: "{% if external_link_skill_form.title.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.title %}has-success{% endif %}"}
            %label.control-label{for: "id_title"}
              Titre
            %input#id_title.form-control{type: "text", required: "", placeholder: "Titre", name: "title", value: '{{ external_link_skill_form.title.value|default:"" }}'}
            -for error in external_link_skill_form.title.errors
              %span.help-block= error

        .col-md-6
          %div{class: "form-group {% if external_link_skill_form.url.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.url %}has-success{% endif %}"}
            %label.control-label{for: "id_url"}
              Adresse
            %input#id_url.form-control{type: "text", required: "", placeholder: "Adresse", name: "url", value: '{{ external_link_skill_form.url.value|default:"" }}'}
            -for error in external_link_skill_form.url.errors
              %span.help-block= error

      .row
        .col-md-6
          .form-group{class: "{% if external_link_skill_form.duration.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.duration %}has-success{% endif %}"}
            %label.control-label{for: "id_duration"}
              Durée estimée (en minutes)
            %input#id_duration.form-control{type: "text", required: "", placeholder: "Durée (en minutes)", name: "duration", value: '{{ external_link_skill_form.duration.value|default:"" }}'}
            -for error in external_link_skill_form.duration.errors
              %span.help-block= error

        .col-md-6
          .form-group{class: "{% if external_link_skill_form.difficulty.errors %}has-error{% elif external_link_skill_form.data and external_link_skill_form.difficulty %}has-success{% endif %}"}
            %label.control-label{for: "id_difficulty"}
              Difficulté

            %br

            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="1" {% if external_link_skill_form.difficulty.data == "1" %}checked="checked"{% endif %}>1</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="2" {% if external_link_skill_form.difficulty.data == "2" %}checked="checked"{% endif %}>2</input>
            %label.radio-inline
              <input type="radio" required="required" name="difficulty" value="3" {% if external_link_skill_form.difficulty.data == "3" %}checked="checked"{% endif %}>3</input>

            -for error in external_link_skill_form.difficulty.errors
              %span.help-block= error


      %p
        %input.btn.btn-primary{type: "submit", value: "Ajouter"}

    %button.show-form.btn.btn-primary{data-target: "#external-link-form", style: "{% if external_link_skill_form.errors %}display: none{% endif %}"}
      Ajouter un lien externe

-block javascript
  :javascript
    $(".show-form").click(function(event) {
      $(event.currentTarget).hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
    $(".show-synthese-form").click(function(event) {
      $(event.currentTarget).hide();
      $(".synthese").hide();
      $(event.currentTarget.attributes["data-target"].value).show();
    })
