-extends "base.haml"

-block content

  %h2 Statistiques d'usage
  %hr

  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          Statistiques générales

        .panel-body
          %p
            %b Nombre de professeurs :
            =professors.count

          %p
            %b Nombre d'élèves :
            =students.count

          %p
            %b Nombre de classes :
            =lessons.count

      .panel.panel-default
        .panel-heading
          Par professeur

        .panel-body
          -for prof in professors
            %p
              %b= prof|capfirst
              ({{ prof.students.count }} élèves)
              :
            %ul
              -for lesson in prof.lesson_set.all
                %li
                  %a{href: "{% url 'professor:lesson_detail' lesson.pk %}"}
                    =lesson
                  ({{ lesson.students.count }} élèves)
                  %ul
                    -for test in lesson.basetest_set.all
                      %li
                        -if test.test
                          %a{href: "{% url 'professor:lesson_test_online_detail' lesson.pk test.pk %}"}
                            =test
                          (test en ligne)
                        -else
                          %a{href: "{% url 'professor:lesson_test_from_class_detail' lesson.pk test.pk %}"}
                            =test
                          (évaluation libre)

      .panel.panel-default
        .panel-heading
          Suivi de l'ajout des questions

        .panel-body
          %ul
            -for question in questions
              %li
                %a{href: "{% url 'professor:exercice_detail' question.id %}"}
                  Question n°
                  =question.id
                %br
                -if question.modified_by
                  modifié par
                  %a{href: "/admin/auth/user/{{ question.modified_by.id }}/"}
                    =question.modified_by
                  ({{ question.modified_at }})
                  %br
                ajouté par
                %a{href: "/admin/auth/user/{{ question.added_by.id }}/"}
                  =question.added_by
                ({{ question.created_at }})

    .col-md-6
      .panel.panel-default
        .panel-heading
          Ressources pédagogiques

        .panel-body
          %p
            %b Khan Academy progression :
            =skills_with_khan_ressources.count
            \/
            =skills.count
            (total {{ khanacademyvideoskill.count }})

          %p
            %b Sesamath progression :
            =skills_with_sesamath_ressources.count
            \/
            =skills.count
            (total {{ sesamathskill.count }})

          %p
            %b Dernières ressources Khan Academy ajoutées :

            %ul
              -for i in khanacademyvideoskill|slice:":10"
                %li
                  [<a href="{% url 'professor:update_pedagogical_ressources' i.skill.code %}">{{ i.skill.code }}</a>]
                  %a{href: "i.url"}= i.reference.title|default:i.url
                  -if i.added_by
                    by
                    =i.added_by
              -empty
                Pas encore de ressource :(

          %p
            %b Dernières ressources Sesamath ajoutées :

            %ul
              -for i in sesamathskill|slice:":10"
                %li
                  [<a href="{% url 'professor:update_pedagogical_ressources' i.skill.code %}">{{ i.skill.code }}</a>]
                  %a{href: "i.reference.on_oscar"}= i.reference.title
                  -if i.added_by
                    by
                    =i.added_by
              -empty
                Pas encore de ressource :(

      .panel.panel-default
        .panel-heading
          Questions

        .panel-body
          %p
            %b Total :
            =questions.count

          %p
            %b Progression :
            =skills_with_questions.count
            \/
            =skills.count

          %table.table.table-bordered
            %tr
              %th Année
              %th # de questions
              %th Compétences avec questions
              %th # de compétences

            -for stage in stages_with_skills_with_questions
              %tr
                %td= stage.stage
                %td= stage.stage.skills__exercice__count
                %td= stage.skills_count_with_questions.count
                %td= stage.stage.skills.count
